{% extends 'base.html.twig' %}
{% block body %}
    <div class="pc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
 <div class="block">
     <center><h1 class="title text-light" style="font-size:50px; margin-top: -100px;"><b>Gestion du SI</b></h1></center>
            <div class="container my-5 d-grind gap-5">
          <div class="p-5 border" style="background-color:#2f496c">

              <p class="text-light paragraphe" style="font-size:30px; text-align: justify">
                  <u style="color:#6EA2CA;"><b style="color:#6EA2CA;">La Gestion</b></u><br/><br/>
                  La DSI (Direction des Services Informatiques) est une entité importante de la structure Europe qui
                    participe aux choix stratégiques.<br/><br/> 
                    Pour Swiss-Bourdin, qui occupait le siège parisien avant la fusion, l'outil informatique et l'utilisation
                    d'outils décisionnels pour améliorer la vision et la planification de l'activité ont toujours fait partie de la
                    politique maison, en particulier pour ce qui concerne la partie recherche, production, communication et
                    juridique.<br/><br/>
                    <b style="color:#6EA2CA;">La partie commerciale </b>a été le parent pauvre de cette informatisation, les visiteurs étant vus
                    comme des acteurs distants autonomes. La DSI a <b style="color:#6EA2CA;">convaincu </b>l'entreprise que l'intégration des
                    données fournies par cette partie aura un <b style="color:#6EA2CA;">impact important sur l'ensemble de l'activité</b>.


                  

              </p>
          </div>
      </div>
      </div>
            </div>
        </div> 
    </div>
    </div>
    <div class="mobile">
        <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
 <div class="block">
     <center><h1 class="title text-light" style="font-size:40px; margin-top: -150px;"><b>Gestion du SI</b></h1></center>
            <div class="my-5 d-grind gap-2">
          <div class="border p-5" style="background-color:#2f496c">

              <p class="text-light paragraphe" style="font-size:20px;">
                  <u style="color:#6EA2CA;"><b style="color:#6EA2CA;">La Gestion</b></u><br/><br/>
                  La DSI (Direction des Services Informatiques) est une entité importante de la structure Europe qui
                    participe aux choix stratégiques.<br/><br/> 
                    Pour Swiss-Bourdin, qui occupait le siège parisien avant la fusion, l'outil informatique et l'utilisation
                    d'outils décisionnels pour améliorer la vision et la planification de l'activité ont toujours fait partie de la
                    politique maison, en particulier pour ce qui concerne la partie recherche, production, communication et
                    juridique.<br/><br/>
                    <<b style="color:#6EA2CA;">La partie commerciale </b>a été le parent pauvre de cette informatisation, les visiteurs étant vus
                    comme des acteurs distants autonomes. La DSI a <b style="color:#6EA2CA;">convaincu </b>l'entreprise que l'intégration des
                    données fournies par cette partie aura un <b style="color:#6EA2CA;">impact important sur l'ensemble de l'activité</b>.

              </p>
          </div>
      </div>
      </div>
            </div>
        </div> 
    </div>
    </div>
    
{% endblock %}