{% extends 'base.html.twig' %}
{% block body %}
    <div class="pc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
 <div class="block">
     <center><h1 class="title text-light" style="font-size:50px; margin-top: -100px;"><b>La répartition du réseaux</b></h1></center>
            <div class="container my-5 d-grind gap-5">
          <div class="p-5 border" style="background-color:#2f496c">

              <p class="text-light paragraphe" style="font-size:30px; text-align: justify">
                  <u style="color:#6EA2CA;"><b style="color:#6EA2CA;">La répartition du réseaux</b></u><br/><br/>
                 Chaque étage dispose d'une baie de
                brassage qui le relie <b style="color:#6EA2CA;">par une fibre à la
                baie centrale de la salle serveurs</b>.<br/><br/>
                Toutes les salles de réunion sont
                équipées d'un point d'accès <b style="color:#6EA2CA;">Wifi</b>
                positionné par défaut dans le VLAN
                "Visiteurs" qui autorise uniquement un
                accès Internet. <br/><br/>
                Les portables connectés en wifi à ce
                point d'accès reçoivent ainsi une
                <b style="color:#6EA2CA;">adresse IP</b> et n'ont, par conséquent
                accès qu'aux services DHCP et DNS.
                Le point d’accès peut être configuré à
                la demande pour être raccordé à un
                VLAN présent au niveau de l'étage.
                Chaque salle de réunion dispose d'un
                vidéoprojecteur, d'enceintes et d'un
                tableau numérique interactif. <br/><br/>
                La salle "Démonstration" est destinée à
                l'accueil des organismes de santé
                <b style="color:#6EA2CA;">(AFSSAPS notamment)</b> et des
                partenaires scientifiques. Elle dispose
                de paillasses et d'équipements de
                laboratoire, en plus d'une salle de
                réunion.<br/><br/>
              <center><img src="img/aboutRep.png"/></center>


                  

              </p>
          </div>
      </div>
      </div>
            </div>
        </div> 
    </div>
    </div>
    <div class="mobile">
        <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
 <div class="block">
     <center><h1 class="title text-light" style="font-size:40px; margin-top: -150px;"><b>L'equipement</b></h1></center>
            <div class="my-5 d-grind gap-2">
          <div class="border p-5" style="background-color:#2f496c">

              <p class="text-light paragraphe" style="font-size:20px;">
                  <u style="color:#6EA2CA;"><b style="color:#6EA2CA;">L'equipement</b></u><br/><br/>
                 Chaque étage dispose d'une baie de
                brassage qui le relie <b style="color:#6EA2CA;">par une fibre à la
                baie centrale de la salle serveurs</b>.<br/><br/>
                Toutes les salles de réunion sont
                équipées d'un point d'accès <b style="color:#6EA2CA;">Wifi</b>
                positionné par défaut dans le VLAN
                "Visiteurs" qui autorise uniquement un
                accès Internet. <br/><br/>
                Les portables connectés en wifi à ce
                point d'accès reçoivent ainsi une
                <b style="color:#6EA2CA;">adresse IP</b> et n'ont, par conséquent
                accès qu'aux services DHCP et DNS.
                Le point d’accès peut être configuré à
                la demande pour être raccordé à un
                VLAN présent au niveau de l'étage.
                Chaque salle de réunion dispose d'un
                vidéoprojecteur, d'enceintes et d'un
                tableau numérique interactif. <br/><br/>
                La salle "Démonstration" est destinée à
                l'accueil des organismes de santé
                <b style="color:#6EA2CA;">(AFSSAPS notamment)</b> et des
                partenaires scientifiques. Elle dispose
                de paillasses et d'équipements de
                laboratoire, en plus d'une salle de
                réunion.<br/><br/>
              <center><img src="img/aboutRep.png" style="max-width: 100%;
    height: auto;"/></center>

              </p>
          </div>
      </div>
      </div>
            </div>
        </div> 
    </div>
    </div>
    
{% endblock %}