{% extends 'base.html.twig' %}
{% block body %}
    <div class="pc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
 <div class="block">
     <center><h1 class="title text-light" style="font-size:50px; margin-top: -100px;"><b>L'equipement</b></h1></center>
            <div class="container my-5 d-grind gap-5">
          <div class="p-5 border" style="background-color:#2f496c">

              <p class="text-light paragraphe" style="font-size:30px; text-align: justify">
                  <u style="color:#6EA2CA;"><b style="color:#6EA2CA;">L'equipement</b></u><br/><br/>
                 L'informatique est fortement répandue sur le site. Chaque employé est équipé d'un poste fixe relié au
                système central. On dénombre ainsi plus de 350 équipements terminaux et un nombre de serveurs
                physiques conséquent <b style="color:#6EA2CA;">(45 en 2012)</b> sur lesquels tournent plus de <b style="color:#6EA2CA;">100 serveurs virtuels</b>.<br/><br/>
                On trouve aussi des stations de travail plus puissantes dans la partie labo-recherche, et une multitude
                d'ordinateurs portables <b style="color:#6EA2CA;">(personnels de direction, service informatique, services commerciaux, etc)</b>. <br/><br/>
                Les visiteurs médicaux reçoivent une indemnité bisannuelle pour s'équiper en informatique (politique
                Swiss-Bourdin) ou une dotation en équipement <b style="color:#6EA2CA;">(politique Galaxy)</b>. Il n'y a pas à l'heure actuelle
                d'uniformisation des machines ni du mode de fonctionnement <br/><br/>
                Chaque employé de l'entreprise a une adresse de messagerie de la formea <b style="color:#6EA2CA;">nomUtilisateur@swissgalaxy.com </b>. Les anciennes adresses de chaque laboratoire ont été définitivement fermées au 1er
                janvier 2011. 


                  

              </p>
          </div>
      </div>
      </div>
            </div>
        </div> 
    </div>
    </div>
    <div class="mobile">
        <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
 <div class="block">
     <center><h1 class="title text-light" style="font-size:40px; margin-top: -150px;"><b>L'equipement</b></h1></center>
            <div class="my-5 d-grind gap-2">
          <div class="border p-5" style="background-color:#2f496c">

              <p class="text-light paragraphe" style="font-size:20px;">
                  <u style="color:#6EA2CA;"><b style="color:#6EA2CA;">L'equipement</b></u><br/><br/>
                  L'informatique est fortement répandue sur le site. Chaque employé est équipé d'un poste fixe relié au
                système central. On dénombre ainsi plus de 350 équipements terminaux et un nombre de serveurs
                physiques conséquent <b style="color:#6EA2CA;">(45 en 2012)</b> sur lesquels tournent plus de <b style="color:#6EA2CA;">100 serveurs virtuel</b>s.<br/><br/>
                On trouve aussi des stations de travail plus puissantes dans la partie labo-recherche, et une multitude
                d'ordinateurs portables <b style="color:#6EA2CA;">(personnels de direction, service informatique, services commerciaux, etc)</b>. <br/><br/>
                Les visiteurs médicaux reçoivent une indemnité bisannuelle pour s'équiper en informatique (politique
                Swiss-Bourdin) ou une dotation en équipement <b style="color:#6EA2CA;">(politique Galaxy)</b>. Il n'y a pas à l'heure actuelle
                d'uniformisation des machines ni du mode de fonctionnement <br/><br/>
                Chaque employé de l'entreprise a une adresse de messagerie de la formea <b style="color:#6EA2CA; font-size: 18px;">nomUtilisateur@swissgalaxy.com </b>. Les anciennes adresses de chaque laboratoire ont été définitivement fermées au 1er
                janvier 2011. 

              </p>
          </div>
      </div>
      </div>
            </div>
        </div> 
    </div>
    </div>
    
{% endblock %}